article {
    width: 20rem;
    height: 32rem;
    background-color: var(--bg-color);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    box-shadow: 0px 8px 8px 8px rgba(0,0,0,0.5);
}

article > div.logo-container > img {
    width: 15rem;
    height: 6.5rem;
    object-fit: contain;
    filter: grayscale(50%);
    margin-bottom: 0.5rem;
}

div.logo-container {
    position: relative;
}

article > .logo-container > .social-media-container {
    margin-top: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
}

.description-container p:first-child {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.description-container p:last-child {
    font-size: 0.9;
    margin-bottom: 1rem;
}

.tools-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.tools-container > p {
    background-color: var(--primary-color);
    padding: 0.5rem 0.6rem;
    border-radius: 1.5rem;
    color: black;
}


/* For Tablets */
@media (481px <= width <=768px) {
    article {
        width: 25rem;
        height: 35rem;
        font-size: 1.2rem;
    }

    .description-container p:first-child {
        font-weight: bold;
        font-size: 1.5rem;
    }
}

