@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.home-container {
    margin: 8rem auto 5rem;
    width: var(--container-width-lg);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.home-container > img {
    height: 23rem;
    width: 23rem;
    object-fit: cover;
    border-radius: 100%;
    filter: grayscale(100%);
}

.home-container>.right-container {
    height: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.home-container>.right-container>div>h1 {
    color: var(--primary-color);
    font-family: 'Dancing Script', sans-serif;
}

.home-container>.right-container>div>h1>span {
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.home-container>.right-container>div>h2 {
    color: var(--primary-color);
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(18, end);
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.home-container > .right-container > a {
    background-color: var(--primary-color);
    width: 7rem;
    border-radius: 1rem;
    padding: 0.4rem 0.8rem;
    color: rgb(0, 0, 0);
    margin: 0.5rem 0rem;
    transition-duration: 0.5s;
}

.home-container>.right-container>a:hover {
    transform: scale(1.1);
    color: var(--light-color);
}

.social-media-container {
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.social-media-container > a {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    padding: 0.5rem;
    color: black;
}

.social-media-container > a:hover {
    transform: scale(1.2);
    color: var(--light-color);
}

@media (min-width: 1920px) {
    .home-container {
        width: 75%;
    }
}

/* For tablets */
@media (481px <= width <=768px) {
    .home-container {
        width: var(--container-width-md);
        flex-direction: column;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 3rem;
        margin-bottom: 3rem;
    }

    .home-container > img {
        grid-row-start: 1;
        /* display: none; */
        /* border-top-right-radius: 100%;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        height: auto; */
    }
}

/* For Mobiles */
@media (max-width: 480px) {
    .home-container {
        width: var(--container-width-sm);
        margin-bottom: 2rem;
        flex-direction: column;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 3rem;
    }

    .home-container > img {
        /* display: none; */
        grid-row-start: 1;
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        height: 25;
        width: 18rem;
    }
}