header {
    width: 100%;
    padding: 0 5rem 0 4rem;
}

header.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    background: transparent; 
    z-index: 1;
}

.header.scrolled {
    position: sticky;
    background: rgba(0, 0, 0, 0.50) 
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container > a > img {
    width: 7rem;
    height: 6rem;
    object-fit: cover;
}

.menu {
    display: flex;
    gap: 4rem;
}

.menu > a {
    font-weight: 600;
}

.menu > a:hover, .menu > a.active {
    text-decoration: underline;
    color: var(--primary-color);
    transition: var(--transition);
}

.hambuger {
    display: none;
    position: absolute;
    top: 2rem;
    right: 4rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.hambuger > span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


@media (min-width: 1920px) {
    header {
        padding: 0 10rem 0 8rem;
    }
}

/* For Tablets */
@media ( 481px <= width <= 768px) {
    header {
        padding: 0 3rem;
    }

    header.open-header {
        background-color: rgba(0, 0, 0, 0.50);
    }

    .nav-container {
        flex-direction: column;
        align-items: start;
    }

    header .nav-container > a > img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
    }

    .hambuger {
        display: flex;
    }

    .menu {
        display: none;
    }

    .open {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .open > a {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 0.5rem;
        border-radius: 1.5rem;
        box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.4);
    }

    .open > a:hover, .open > a.active {
        background-color: var(--bg-color);
    }

    .open > a:hover {
        transform: scale(1.05);
    }
}


/* For Mobiles */
@media (max-width: 480px) {

    header {
        padding: 0 1rem;
    }

    header .nav-container > a > img {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
    }

    .menu {
        display: none;
    }

    .header.scrolled {
        display: none;
    }
}

