@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins';
}

.hi {
    font-family: 'Dancing Script';
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.animate-typing {
    animation: typing 4s steps(18, end);
}